################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs/ConsoleApp1
/ConsoleApp1/ConsoleApp1/obj
/ConsoleApp1/ConsoleApp2/obj
/ConsoleApp1/ConsoleApp1/bin/Debug/net9.0
/ConsoleApp1/ConsoleApp3/bin/Debug/net9.0
/ConsoleApp1/ConsoleApp3/obj
